/*============= color definition =================*/

$white:#fefefe;
$black:#181818;

//$brown:#280004;
$brown:#2b221d;

$military:#C4C6AB;
//$military-light:#E0E2D4;
$military-light:#f2f2f2;

$military-dark:#353429;

$soldier:#231F06;

$butter:#FFFEFF;
$yellow:#F6CE3A;
$orange:#F29A19;
$green:#D9DD1C;
$gray:#595959;
$gray-dark:#333333;




$sans-serif:'Open Sans',Helvetica, Arial, sans-serif;
$serif: 'Times New Roman', serif;

/****************** breakpoints definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;

$experimental-support-for-svg: true;






