.content-info {
 a{
  color:$military-light;
  font-weight: 700;
 }
}

.duma{
  color:$soldier;
  display: block;
  text-align: right;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
a.telcsi {
  color:$soldier;
  font-weight:700;
  font-size: 3.5em;
  line-height: 1.125em;
  font-weight:800;
  text-transform:uppercase;
  &:hover, &:focus {
    text-decoration: none;
  }

}

.footer-sidebar {
  @include clearfix();
  color:$brown;
  background-color: $orange;
  background-image: url(../img/balna-fej.png), url(../img/balna-farok.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: auto 80px;
  padding-bottom: 60px;
  @include breakpoint($s2){
    background-size: auto, auto;
  }
  @include breakpoint($s3){
    background-position: 10% bottom, 90% bottom;
  }


  .callnow{
    padding:3em 2em 3em 1em;
    @include breakpoint($s2){
      width:33.333%;
      float:left;
      padding:2em 2em 4em 1em;
      //border-right:1px solid $brown;
    }
    @include breakpoint($s3){
      padding:3em 2em 4em 1em;
    }
  }

  .widget{
    @include clearfix();
    padding:0 1em;
    //background-color: $brown;
    @include breakpoint($s1){
      padding:2em 1em;
      width:33.333%;
      float:left;
      min-height:23em;
      //background-color: transparent;
    }
    @include breakpoint($s2){
      padding:2em 1em 2em 2em;
      width:22.222%;
      float:left;
      //background-color: transparent;
    }
    @include breakpoint($s3){
      padding:3em 1em 3em 3em;
    }
    h3 {
      margin-top:1em;
      font-size: 2em;
      line-height: 1.125em;
      @include breakpoint($s1){
        margin-top:0;  
      }
    }
    p{
      margin-top: 0;
    }
  }

  
}

.footer-copy{
  @include clearfix();
  padding:1.25em;
  position: relative;
  font-size: 0.875em;
  color:$orange;
  background-color: $black;
  .left {
    float:left;
    width: calc(100% - 60px)
  }
  .right{
    float:right;
    
    a {
      background-color: $orange;
      display: block;
      text-align: center;
      font-size: 2em;
      line-height: 40px;
      width:40px;
      height: 40px;
      &:hover, &:focus {
        background-color: $yellow;
        color:$black;
      }



    }
  }
}
